{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" href="{% static 'resume/css/message.css' %}">
</head>
<body>
<div class="wrapper" id="home">
	<h1>欢迎光临留言板<br /><span>如果需要删除留言，请联系本人：16620810445</span><br /><a href="/"> 去留言 </a></h1>
    {% for message in messages %}
	<div class="ds-post-main">
		<div class="ds-avatar">
			<a title="设计达人" href="http://www.shejidaren.com" target="_blank"><img alt="设计达人" src="{% static 'resume/image/sign.jpg' %}"></a>
		</div>
		<div class="ds-comment-body">
			{{ message.name }}&nbsp;&nbsp;&nbsp;&nbsp;{{ message.date }}
			<p>"{{ message.contents}}</p>
		</div>
	</div>
    {% endfor %}
    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
</body>
</html>