<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<style>
.danger {
    background: #00e4b6;
}
.active {
    background: #2a6496;
}
.success {
    background: yellow;
}
.warning {
    background: #398439;
}
.info {
    background: #1da1f2;
}
</style>
    <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr class="danger">
                    <th>留言时间</th>
                    <th>留言者</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                {% if messages %}
                    {% for message in messages %}
                        <tr class="{% cycle 'active' 'success' 'warning' 'info' %}">
                            <td>{{ message.date|date:'Y-m-d H:i:s' }}</td>
                            <td>{{ message.name }}</td>
                            <td>{{ message.contents }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">无数据</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
</body>
</html>