{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Creative Coming Soon Template">
    <meta name="author" content="Hitesh Jariwala">
    <meta name="keywords" content="">
    <!-- title -->
    <title>主页</title>
    <!-- CSS IMPORT -->
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <!-- support HTML5 elements and media queries for IE9 -->
    <!--[if lt IE 9]>
      	<script src="js/html5shiv.js"></script>
      	<script src="js/respond.min.js"></script>
    	<![endif]-->
</head>
<body>
    <!-- preloader -->
    <div class="preloader-container">
        <div class="content-container">
            <!-- preloader -->
            <span class="spinner-section-far"></span>
            <!-- end preloader -->
            <h6 class="preloader-text">
                LOADING</h6>
        </div>
    </div>
    <!-- end preloader -->
    <!-- logo -->
    <img class="img-logo" alt="logo" src="../../static/img/logo_white.png" />
    <!-- end logo -->
    <!-- menu -->
     <div class="open">
        <div class="cls">
        </div>
        <div>
            <ul class="sub-menu-t">
                <li class="active"><a class="menu-link" data-section="home" data-nav-title="home"
                    data-section-pos="0" data-section-posy="0">Home <i class="fa fa-fw fa-home"></i>
                </a></li>
                <li><a class="menu-link" data-section="about" data-nav-title="about" data-section-pos="0"
                    data-section-posy="-100">About Me <i class="fa fa-fw fa-star-o"></i></a></li>
                <li><a class="menu-link" data-section="works" data-nav-title="works" data-section-pos="-100"
                    data-section-posy="-100">Skills <i class="fa fa-fw fa-bell-o"></i></a></li>
                <li><a class="menu-link" data-section="contact" data-nav-title="contact" data-section-pos="-100"
                    data-section-posy="0">Contact Me<i class="fa fa-fw fa-list"></i></a></li>
            </ul>
        </div>
        <div class="cls">
        </div>
    </div>
    <!-- end menu  -->
    <!-- page container -->
    <div class="page-container">
        <!-- section container -->
        <div class="section-container">
            <!-- home section -->
            <section class="home-section">
        	    	<!-- section background -->
        	    	<div class="bg-container"></div>
                	<!-- end section background -->
                	<!-- content -->
                	<div class="content col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-rlt no-pad centering-y">            	    	
            	    	<div class="col-md-12 col-sm-12">
                	    	<!-- headline -->
                	    	<h1>Home</h1>
{#                            <div class="sub-title" id="wordsrotator">#}
{#                		    	<h4>我叫张涛</h4>#}
{#                	    	</div>                     	    	#}
                	    	<!-- end headline -->                               
                	    	<!-- short description -->
                	    	<p class="desc">
                		    	{{ pretentious }}
                	    	</p>
                	    	<!-- end short description -->
                            <!-- countdown container -->
                        	<div id="countdown" class="countdown-container">
                    	    	<!-- days left -->
                            	<div class="dash days_dash" >
                			    	<div class="counter">
            	    	    	        <a href="/resume/" target="_blank" title="简历">
                                            <img src="{% static 'img/logo_resume.jpg' %}" height=60px width=60px alt="resume logo">
                                        </a>
							        </div>
                		    	</div>
                                <div class="dash hours_dash">
            	    		        <div class="counter">
            	    	    	        <a href="/gallery/" target="_blank" title="相册">
                                            <img src="{% static 'img/logo_gallery.jpg' %}" height=60px width=60px alt="gallery logo">
                                        </a>
							        </div>
            	    	        </div>
                                <div class="dash minutes_dash">
            	    		        <div class="counter">
            	        		        <a href="/fun/" target="_blank" title="作品">
                                            <img src="{% static 'img/logo_fun.jpg' %}" height=60px width=60px alt="fun logo">
                                        </a>
							        </div>
                		        </div>
                		        <div class="dash seconds_dash">
                			        <div class="counter">
                		    	        <a href="/private/" target="_blank" title="个人">
                                            <img src="{% static 'img/logo_private.jpg' %}" height=60px width=60px alt="private logo">
                                        </a>
							        </div>
                		        </div>
            		        </div>
                    	</div>                    	
                	</div>
        </section>
            <section class="about-section">
        	    	<div class="bg-container-static"></div>
                	<div class="content col-md-8 col-md-offset-2 col-sm-12 col-sm-rlt col-xs-12 no-pad centering-y">
                    	<div class="col-md-12 col-sm-12">
                         <h1>About</h1>
                	    	<!-- company description -->
                        	<div class="desc">
                    	    	<!-- quote -->
                            	<p class="quote separator-line">
                        	    	热爱  &&  坚持
                            	</p>
                            	<!-- end quote -->
                        
                            	<p class="mrg-top-sm">
                        	    	{{ faith }}
                            	</p>
                        
                            	<p class="mrg-top-sm">
                        	    	{{ insist }}
                            	</p>
                        	</div>
                        	<!-- end company description -->
                    	</div>                    	
                	</div>
                	<!-- end content -->
            	</section>
            <!-- end about section -->
            <!-- service section -->
            <section class="works-section">
        	    	<!-- section background -->
        	    	<div class="bg-container-static"></div>
                	<!-- end section background -->
                	<!-- content -->                	
            	    	<div class="content col-md-8 col-md-offset-2 col-sm-12 col-sm-rlt col-xs-12 no-pad centering-y">
                	    	<div class="carousel-col">
                    	    	<div class="service col-md-4">
                        	    	<div class="icon-container">
                        		    	<i class="fa fa-css3"></i>
                        	    	</div>

                        	    	<div class="text-container">
                        		    	<h6>WEB DESIGN</h6>
                        	        	<p class="mrg-top-xs">Python后端开发，熟悉Django和Flask框架，了解HTML，CSS, JS基本知识。能够利用Django独立开发网站并熟悉常见的网络安全问题</p>
                                        <p>个人作品：<a href="http://zhangtao.ngrok2.xiaomiqiu.cn" target="_blank" style="color: #398439">http://zhangtao.ngrok2.xiaomiqiu.cn</a></p>
                                        <p>github：<a href="https://github.com/tyrionzt/MiddleRiver" target="_blank" style="color: #398439"> https://github.com/tyrionzt/MiddleRiver</a></p>
                        	    	</div>
                    	    	</div>

                    	    	<div class="service col-md-4">
                        	    	<div class="icon-container">
                        		    	<i class="fa fa-pencil"></i>
                        	    	</div>
                        	    	<div class="text-container">
                        		    	<h6>SQL & NOSQL</h6>
                        	        	<p class="mrg-top-xs">熟悉常见数据库的基本操作，熟悉MySQL的基本使用和调优，熟练使用非关系型数据库redis</p>
                        	    	</div>
                    	    	</div>
                    	    	<div class="service col-md-4">
                        	    	<div class="icon-container">
                        		    	<i class="fa fa-gear"></i>
                        	    	</div>
                        	    	<div class="text-container">
                        		    	<h6>Liunx & 其它</h6>
                        	        	<p class="mrg-top-xs">熟悉Linux常用命令，能在liunx下进行开发。熟悉多线程和多进程</p>
                                        <p>其它技术：docker、Git...</p>
                        	    	</div>
                    	    	</div>
                        	</div>
                    	</div>

            	</section>
            <section class="contact-section">
        	    	<div class="bg-container-static"></div>
                	<div class="content col-md-10 col-md-offset-1 col-sm-12 col-xs-12 no-pad centering-y col-sm-rlt">
                    	<div class="col-md-4 col-sm-12">
                        	<div class="details">
                    	    	<h5>WECHAT & QQ</h5>
                            	<p>zt931675058 <br />931675058</p>
                        	</div>
                        	<div class="details">
                    	    	<h5>电话</h5>
                            	<p>16620810445</p>
                        	</div>
                        	<div class="details">
                    	    	<h5>地址</h5>
                            	<p>四川中江<br />泰和绿洲</p>
                        	</div>
                        	<div class="details">
                    	    	<h5>stay connected</h5>
                            	<div class="social-media-container">
            				    	<a class="social-media" href="../../static/img/qq.JPG" target="_blank"><i class="fa fa-qq"></i></a>
                        	    	<a class="social-media" href="../../static/img/wechat.JPG" target="_blank"><i class="fa fa-wechat"></i></a>
                        	    	<a class="social-media" href="https://github.com/tyrionzt/MiddleRiver" target="_blank"><i class="fa fa-github"></i></a>
                            	</div>
                        	</div>
                    	</div>
                    	<div class="contact-form-container col-md-8 col-sm-12 col-xs-12">
                	    	<h5>留言</h5>
					    	<form class="contact-form" action="/resume/save_message/" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
						    	<div class="col-md-6 col-sm-12 no-pad">
							    	<div class="input-container">
								    	<input type="text" id="name" name="name" />
								    	<label for="name">姓名</label>
                        	        
								    	<div class="input-border-bottom"></div>
							    	</div>
						    	</div>
						    	<div class="col-md-6 col-sm-12 no-pad">
							    	<div class="input-container">
								    	<input type="email" id="email" name="email" />
								    	<label for="email">邮件</label>
                	    		            
								    	<div class="input-border-bottom"></div>
							    	</div>
						    	</div>
						    	<div class="col-xs-12 text-center no-pad">                            
							    	<div class="input-container no-mrg">
								    	<textarea id="message" name="message"></textarea>
								    	<label for="message">留言区</label>
                                
								    	<div class="input-border-bottom"></div>
							    	</div>
							    	<div class="col-xs-12 notif-container no-pad">
								    	<div class="form-notif"></div>
							    	</div>
							    	<div class="col-xs-12 no-pad text-left mrg-top-xs">
								    	<button type="submit" class="button button-green button-small">发送</button>
							    	</div>
						    	</div>
					    	</form>
                            <div class="col-xs-12 no-pad text-center mrg-top-xs">
                                        <a href="/resume/show_message/" target="_blank"><button class="button button-red button-small">查看留言</button></a>
                                    </div>
                    	</div>
                	</div>
            	</section>
        </div>
    </div>
    <script type="text/javascript" src="../../static/js/jquery.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins.min.js"></script>
    <script type="text/javascript" src="../../static/js/main_slideshow.js"></script>
</body>
</html>
