{% extends "gallery/base.html" %}

{% block title %}相册列表{% endblock %}

{% block content %}

<p><a href="{% url 'index' %}">&laquo; 返回首页</a></p>

<h2>相册列表</h2>
{% if object_list %}
<table>
    {% for item in object_list %}
        <td>
            {% if item.photo_set.count %}
            <a href="{{ item.get_absolute_url }}">
                <img src="{{ item.photo_set.all.0.image.thumb_url }}" />
            </a>
            {% else %}
            (No photos currently uploaded)
            {% endif %}
        </td>
        <td>{{ item.description }}</td>
    {% endfor %}
</table>
{% else %}
    <p>当前无添加任何照片</p>
{% endif %}

{% endblock %}