{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <audio id="audio_id" controls autoplay loop src="{% static 'longmao.mp3' %}"></audio>

<script>
    function onInputFileChange() {
        var file = document.getElementById('audio_id').src;
        console.log(file)
        var url = URL.createObjectURL(file);
        console.log(url);
        document.getElementById("audio_id").src = url;
    }
</script>
</body>
</html>